.top-search {
    background-color: #576676;
    color: #fff;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    padding: 15px;
}
.top-search a {
    color: #ff5757;
}
.top-search .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}
.top-search-choose-auto {
     height:300px;
}
.top-search-choose-auto .list-group {
     height:250px;
     overflow:scroll;
     border:0;
}
.top-search a.toggle {
    cursor: pointer;
    color: #ff5757;
    font-weight: normal;
    text-decoration: none;
}
.top-search-price .form-control {
    display: inline;
    width: 100px;
}
.top-search-all-regions {
    font-weight: normal;
}
.top-search-extend-button {
    margin-bottom: 10px;
    color: #fff;
}
.top-search-extend-button a {
    color: #fff;
    text-decoration: none;
}
.extend-search .top-search-extend-button .extend-toggle,
.extend-search.toggled .top-search-extend-button .extend-toggled {
    display: inline;
}
.extend-search .top-search-extend-button .extend-toggled,
.extend-search.toggled .top-search-extend-button .extend-toggle{
    display: none;
}
.extend-search .extend-search-params {
    display: none;
}
.extend-search.toggled .extend-search-params {
    display: block;
}
.top-search-extend-button a span {
    border-bottom: 1px dashed #fff;
}
@media (max-width: 767px) {
    .top-search {
        margin: 0px;
        padding: 15px;
    }
    .top-search-choose-auto {
        height: 650px;
    }
    .top-search-choose-auto .list-group {
        height: 120px;
    }
}