.list-item {
    cursor: pointer;
}
.list-group-item {
    border:0;
}
.list-item-row {
    margin-bottom: 10px;
}
.list-item-price {
    font-size: 20px;
    margin-bottom: 5px;
}
.list-item-seller-type {
    margin-bottom: 5px;
}
.list-item-region {
    margin-bottom: 5px;
}
.list-item-condition {
    font-size: 12px;
    margin-left: 12px;
}
.list-item h3 {
    margin-top: 3px;
    margin-bottom: 0px; 
}
.list-item {
    padding-top: 15px;
    margin-bottom: 15px;
}
.list-item-internal-desc, .list-item-internal-preview {
    padding-left: 0px;
    padding-right: 0px;
}
.list-item-image {
    height: 200px;
}
.list-item-date {
    padding-top: 0px;
}
.list-item-internal-preview img {
    max-width: 123px;
    max-height: 123px;
}
.list-item-image img {
    max-width: 100%;
}
.list-item-automobiles a {
    font-style: italic;
}
@media (min-width: 1200px) {
    .list-item h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .list-item-seller-type {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.top-search {
    margin-bottom: 15px;
}
@media (max-width: 767px) {
    .top-search {
        margin-bottom: 0px;
    }
    .list-item {
        padding-left: 0px;
        padding-right: 0px;
        border-top: 1px solid #e2e2e2;
    }
    .list-item-internal-desc {
        border-top: none;
    }
    .list-item-price {
        margin-bottom: 10px;
    }
    .list-item-internal-preview {
        float: left;
    }
    .list-item-internal-preview img {
        max-width: 100%;
    }
    .list-item-internal-desc {
        float: right;
    }
}
