.advert-form-wrapper {
    float: left;
    width: 100%;
}
.advert-form-common {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #4e5d6d;
    color: #fff;
    padding: 15px;
}
.advert-form-auto {
    background-color: #ccd1d5;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.advert-form-auto-widget {
    background-color: transparent;
}
.advert-form-auto-widget .choose-auto-panel {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    width: 20%;
}
.advert-form-auto-widget .choose-auto-panel-body {
    height: 250px;
    overflow-y: scroll;
}
@media (max-width: 767px) {
    .advert-form-auto-widget .choose-auto-panel {
        width: 100%;
    }
    .advert-form-auto-widget .choose-auto-panel-body {
        height: 100px;
    }
}
.advert-form-contacts {
    background-color: #993333;
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFF;
    padding-bottom: 40px;
}
.advert-form-contacts a {
    color: #fff;
    text-decoration: underline;
}
.advert-form-contacts a:hover, .advert-form-contacts a:focus {
    text-decoration: none;
}
.advert-form-contacts h3 {
    color: #FFF;
}
.wrap > .content-container {
    padding-bottom: 0px;
}
.advert-form-block-info {
    background-image: repeating-linear-gradient(-70deg,#e2e2e2,#e2e2e2 30px,#e9e9e9 30px,#e9e9e9 60px);
    background-color: #d5d5d5;
    padding: 20px 40px;
}
.advert-form-block-info img {
    margin-right: 15px;
}
.content-container .has-error .help-block-error {
    color: #ff0000;
}
.advert-form-contacts .help-block-error {
    background-color: #660000;
}
.advert-form-trade-point .list-group {
    height: 178px;
    overflow-y: scroll;
    margin-bottom: 15px;
}
.advert-form-trade-point a {
    background-color: #fff;
    color: #2e2e2b;
    text-decoration: none;
    cursor: pointer;
}
.advert-form-trade-point a.active {
    text-decoration: none;
}
@media (max-width: 767px) {
    .advert-form-common > div,
    .advert-form-contacts > div, 
    .advert-form-auto > div {
        padding-left: 0px;
        padding-right: 0px;
    }
}
