
.icon-location:before { content: '\e800'; } /* '' */
.icon-filter:before { content: '\e801'; } /* '' */
.icon-rouble:before { content: '\e802'; } /* '' */
.icon-tag:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-cab:before { content: '\e805'; } /* '' */
.icon-megaphone:before { content: '\e806'; } /* '' */
.icon-wrench:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-mail-alt:before { content: '\e80b'; } /* '' */