
.icon-location:before { content: '\e800'; } /* '' */
.icon-filter:before { content: '\e801'; } /* '' */
.icon-rouble:before { content: '\e802'; } /* '' */
.icon-tag:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-cab:before { content: '\e805'; } /* '' */
.icon-megaphone:before { content: '\e806'; } /* '' */
.icon-wrench:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-barcode:before { content: '\e80a'; } /* '' */
.icon-mail-alt:before { content: '\e80b'; } /* '' */
.icon-comment:before { content: '\e80c'; } /* '' */
.icon-help-circled:before { content: '\e80d'; } /* '' */
.icon-google:before { content: '\e80e'; } /* '' */
.icon-vkontakte:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e810'; } /* '' */
.icon-yandex:before { content: '\e811'; } /* '' */
.icon-odnoklassniki:before { content: '\e812'; } /* '' */
.icon-gplus:before { content: '\e813'; } /* '' */