.trade-point-map-wrapper {
    margin-bottom: -15px;
    min-height: 300px;
    position: relative;
    top: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.trade-point-map {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.trade-point-list {
    width: 0%;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.trade-point-map-wrapper.toggled .trade-point-map {
    width: 70%;
}
.trade-point-map-wrapper.toggled .trade-point-list {
    width: 30%;
}
.trade-point-list-item {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    width: 100%;
    color: #2e2e2b;
    cursor: pointer;
    background-color: #fff;
}
.trade-point-list-item.active {
    background-color: #ddd;
}
.trade-point-list-item:hover {
    background-color: #ddd;
}
.trade-point-list-item h4, .trade-point-map-infowindow h4 {
    color: #2e2e2b;
    margin-top: 0px;
    margin-bottom: 5px;
}
.trade-point-list-item .mark, .trade-point-map-infowindow .mark {
    background-color: #fcf8e3;
    font-size: 12px;
}
.trade-point-list-item .location, .trade-point-map-infowindow .location {
    font-size: 12px;
    font-style: italic;
}
.trade-point-list-item.disabled {
    color: #ccc;
}
.trade-point-list-item.disabled h4 {
    color: #ccc;
}
@media (max-width: 767px) {
    .trade-point-map, .trade-point-map-wrapper.toggled .trade-point-map {
        width: 100%;
    }
    .trade-point-list, .trade-point-map-wrapper.toggled .trade-point-list {
        display: none;
    }
}
